<div class="row" id="Header">
    <div class="col-md-9 p-1">
        <img src="./assets/logo.jpg" id="logo" class="img-fluid" alt="Portfolio desarrollado en el marco de del programa 
        Argentina Programa #YoProgramo">
    </div>
    <div class="col-md-3  pr-1 pl-1"  >
        
        
         <span *ngFor="let itemre of datosredes">
         <a href="{{itemre.link_red}}" class="text-decoration-none" [ngSwitch]="true" >    
       
        <app-botonfacebook *ngSwitchCase="itemre.red == 'facebook'"></app-botonfacebook> 
        <app-botoninstagram *ngSwitchCase="itemre.red == 'instagram'"></app-botoninstagram>
        <app-botonlinkedin *ngSwitchCase="itemre.red == 'linkedin'"></app-botonlinkedin>
        
         </a>
        </span>
        <button  class="btn btn-primary p-1 btn-sm" (click)="onClickedita()"><app-botoneditar ></app-botoneditar></button>
        
      
    
        <button
        class="btn btn-success btn-sm m-1"
        (click)="funcionDeAcceso()"
        >Salir</button>
       
      
    </div>
   
</div>
<div *ngIf="ventanaNuevoItem">
    <div class="row mt-3 p-3">    
        <div class="col-md-12 " >
                           
                <form  [formGroup]="form" (ngSubmit)="onClickmodifica()" >
                  <div class="form-groupred">
                    <app-botonfacebook></app-botonfacebook> Link Facebook:     
                  <input  class="form-control"  formControlName="facebook"  >
                  <app-botoninstagram></app-botoninstagram> Link Instagram:     
                  <input  class="form-control"  formControlName="instagram"  >
                  <app-botonlinkedin></app-botonlinkedin> Link LinkedIn:     
                  <input  class="form-control"  formControlName="linkedin"  >
                                      
              </div>
              <div class="form-groupred">
                <button class="btn btn-success btn-sm m-1" type="submit" >Enviar</button>
                <button class="btn btn-success btn-sm m-1" (click)="onClickdesestimar()">Cancelar</button>
              </div>
                </form>
              </div> 
