
<app-encabezado></app-encabezado>
<app-encabfoto></app-encabfoto>
<div *ngIf="vers" >
    

<div  class="d-flex justify-content-center"  >
    
    <div class="spinner-border" role="status" >
      <span class="visually-hidden" >Loading...</span>
    </div>
    
</div>
</div>



<div *ngFor="let item of [].constructor(3600); let x = index">
<div [ngSwitch]="true" >    
<app-educacion *ngSwitchCase="x == 2000"></app-educacion>
<app-experiencia *ngSwitchCase="x == 2500"></app-experiencia>
<app-skills *ngSwitchCase="x == 3000"></app-skills>
<app-proyectos *ngSwitchCase="x == 3500"></app-proyectos>
</div>    
</div>  

  
